nav {
    background-color: #ffffff;
}

body {
    background-image: url('images/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

.presentacion {
    text-align: center;
    margin-top: 200px;
}
