nav {
    background-color: #ffffff;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    background-color: #0A2647;
}

body {
    background-color: #081e38;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.presentacion {
    margin-top: 170px;
    text-align: center;
}

.titulo-seccion{
    margin-top: 70px;
    font-size: 360%; 
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
}

.descripcion{
    margin-top: 10px;
}

.educacion{
    margin-top: 38px;
}

.proyectos{
    margin-top: 38px;
}

.habilidades{
    margin-top: 38px;
    margin-bottom: 50px;
}

.titulo{
    font-size: 220%; 
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    padding-bottom: 6px;
}

.titulo-habilidades{
    font-size: 220%; 
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
    padding-bottom: 26px;
}

.titulo-educacion {
    font-size: 120%;
}

.contenedor{
    display: flex;
}

a:link, a:visited {
    text-decoration: none;
}

.btn{
    padding: 11px 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.btn-outline-light{
    border-radius: 40px;
}

.card-educacion{
    margin-top: 20px;
    width: 500px;
}

.info-educacion{
    font-family: 'Poppins', sans-serif; 
    color: #ffffff;
}

.progress{
    height: 20px;
    padding: 0;
}

.card{
    background-color: #0A2647;
    color:#fff;
    padding: 0;
}

.card-proyecto{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.card-body{
    padding-top: 22px;
    padding-bottom: 22px;
}

.card-title-proyecto{
    margin-bottom: 6px;
    font-size: 120%;
    font-family: 'Poppins', sans-serif;
}

.card-title-proyecto a{
    color: #fff;
}

.card-title-proyecto a:hover {
    color: #e4e4e4;
  }

.card-text{
    font-family: 'Poppins', sans-serif;
}

.tecnologias{
    margin-top: 17px;
}

.offcanvas{
    background-color: #0A2647;
}

.offcanvas h5{
    color: #fff
}

.logo{
    width: 50px;
}

.container{
    max-width: 64rem;
}

.footer-fijo{
    background-color: #0A2647;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    bottom: 0;
    position: fixed;
}

footer{
    background-color: #0A2647;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}