nav {
    background-color: #ffffff;
}

body {
    background-color: #081e38;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.presentacion {
    text-align: center;
    margin-top: 190px;
}

.titulo-educacion {
    font-size: 120%;
}

.navbar{
    background-color: #0A2647;
}

a:link, a:visited {
    text-decoration: none;
}

.card{
    background-color: #0A2647;
    color:#fff;
    padding: 0;
}

.card-title-proyecto{
    font-size: 120%;
    font-family: 'Geologica', sans-serif; 
}

.card-title-proyecto a{
    color: #fff;
}

.card-title{
    font-size: 170%;
    font-family: 'Geologica', sans-serif; 
}

.card-text{
    font-family: 'Geologica', sans-serif; 
}

.offcanvas{
    background-color: #0A2647;
}

.offcanvas h5{
    color: #fff
}

footer {
    background-color: #0A2647;
    font-family: 'Geologica', sans-serif;
    width: 100%;
    bottom: 0;
    position: fixed;
}